<footer id="footer">

    <!-- Footer content -->
    <div class="about footer-item">
        <h4 class="footer-title">A propos</h4>

        <p>
            Mawen House est un restaurant, Snack bar, et boutique de vente et location de robes de mariée et de soirée. 
            Nous mettons également à votre disposition des accessoires pour tous vos évènements.
        </p>
    </div>
    
    <div class="logo footer-item">
        <img src="{{ url_for('static', filename='image/logo.svg') }}"></img>
    </div>

    <div class="links footer-item">
        <a class="text-white px-2" href="https://www.facebook.com/profile.php?id=61559951622645&mibextid=LQQJ4d">
            <i class="fab fa-facebook-f"></i>
        </a>
        <a class="text-white px-2" href="https://wa.me/673883084">
            <i class="fab fa-twitter"></i>
        </a>
        <a class="text-white px-2" href="https://www.instagram.com/mawen_beauty?igsh=ZW90cGN0MnlyeXRr&utm_source=qr">
            <i class="fab fa-instagram"></i>
        </a>
        
    </div>

</footer>
