<div class="hero">
    
    <!-- <div class="hero-content hero-element">
        
        <h1 class="hero-title">
            MAWEN <span>HOUSE</span>
        </h1>
        
        <p class="hero-text">Obtenez un service de qualité à meilleur prix!!!</p>
        
        <a href="{{ url_for('shop.index') }}" class="btn">Contactez-nous</a>

    </div>

    <div class="hero-element">
        <img src="{{ url_for('static', filename='image/hero.jpg') }}" alt="Hero Image" class="hero-image">
    </div> -->

    <resto-element
        image="{{ url_for('static', filename='image/hero.jpg') }}"
        description="Obtenez un service de\n qualité à meilleur prix!!!"
        button-text="Contactez-nous"
    ></resto-element>
</div>