<div class="service-container">
    <div class="service-container-title">
        <h1 class="service-title">
            Services
        </h1>
    </div>

    <div class="service-elements">
        <service-element 
            image="{{ url_for('static', filename='image/resto.svg') }}"
            title="restaurant"
            description="Une expérience agréable pour vos papilles gustatives"
        > </service-element>
        <service-element 
            image="{{ url_for('static', filename='image/snack-bar.svg') }}"
            title="snack-bar"
            description="Une expérience agréable pour vos papilles gustatives"
        > </service-element>
        <service-element 
            image="{{ url_for('static', filename='image/magasin.svg') }}"
            title="Shopping"
            description="Une expérience agréable pour vos papilles gustatives"
        > </service-element>
    </div>
</div>